.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  margin-bottom: 20px;
}

.product {
  border-bottom: 1px solid var(--gray);
}

.product img {
  width: 80px;
}

.product a {
  text-align: center;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.btns_holder {
  display: flex;
  align-items: center;
  gap: 10px;
}

.edit_btn,
.delete_btn {
  display: flex;
  align-items: center;

  padding: 10px;
  border: none;
  outline: none;
  color: var(--white);
  background-color: var(--purple);
  border: 1px solid var(--purple);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.edit_btn:hover,
.delete_btn:hover {
  background-color: var(--white);
  color: var(--purple);
}

.edit_btn i,
.delete_btn i {
  margin-right: 10px;
}

@media (max-width: 800px) {
  .product {
    flex-direction: column;
  }
  .product h3 {
    margin: 30px 0;
  }

  .product p {
    margin-bottom: 30px;
  }
  .product a {
    flex-direction: column;
  }
}
