@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
}

:root {
  --purple: #a700d0;
  --gray: #acacac;
  --blue: #7a86f5;
  --pink: #fe0098;
  --one: #2c39a7;
  --two: #e92121;
  --three: #fe0098;
  --four: #7c42f8;
  --black: #000000;
  --white: #fff;
  --five: #7c2874;
  --six: #493446;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

i,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
